clipboard nodeRED.txt
[{"id":"1058f605.c7647a","type":"mqtt out","z":"badb8416.a77308","name":"MQTT","topic":"public/esp/inputkhanhney","qos":"2","retain":"false","broker":"8c88f28f.a7312","x":717.0000686645508,"y":158.66667938232422,"wires":[]},{"id":"2220c71c.ffc578","type":"ui_switch","z":"badb8416.a77308","name":"","label":"Bật/Tắt","group":"3ea3e895.6ad558","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":149.50001525878906,"y":231.6667022705078,"wires":[["b16a3e82.82931"]]},{"id":"b16a3e82.82931","type":"switch","z":"badb8416.a77308","name":"Check","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":286.00001525878906,"y":333.00000858306885,"wires":[["6b38f10f.9723b"],["6b38f10f.9723b"]]},{"id":"6b38f10f.9723b","type":"function","z":"badb8416.a77308","name":"Check Function","func":"if(msg.payload === true) \n    msg.payload = \"1000\";\nelse\n    msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":647.0000839233398,"y":403.00005435943604,"wires":[["1058f605.c7647a","2e861123.b592fe"]]},{"id":"68176cd9.c251b4","type":"inject","z":"badb8416.a77308","name":"Tắt","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":305,"y":134,"wires":[["1058f605.c7647a","2e861123.b592fe"]]},{"id":"aaa6bde9.48ee3","type":"inject","z":"badb8416.a77308","name":"Bật","topic":"","payload":"700","payloadType":"str","repeat":"","crontab":"","once":false,"x":268,"y":178,"wires":[["1058f605.c7647a","2e861123.b592fe"]]},{"id":"2e861123.b592fe","type":"debug","z":"badb8416.a77308","name":"","active":true,"console":"false","complete":"false","x":546.0000381469727,"y":257.00000858306885,"wires":[]},{"id":"8c88f28f.a7312","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"KhanhNeyID242z","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3ea3e895.6ad558","type":"ui_group","z":"","name":"Controller Demo MQTT","tab":"7b4c7e31.c2692","order":1,"disp":true,"width":"6"},{"id":"7b4c7e31.c2692","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]